* {
  padding: 0 ;
  margin: 0 auto;
  max-width: 1024px;
}

body {
  padding: 15px;
  background: lightblue;
  max-width: 900px;
}

a:hover {
  text-decoration: none;
}

button {
  border: 3px solid blanchedalmond;
  border-radius: 10rem;
  padding: 10px;
  background: none;
  color: blanchedalmond;
  box-shadow: 0 0 10px 3px blanchedalmond;
  text-shadow: 0 0 10px;
  width: 160px;
  cursor: pointer;
  transition: 0.2s ease all;
}

button>a {
  color: #01a661;
  text-shadow: 0 0 10px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
  transition: 0.2s ease all;
}

button:hover>a {
  text-shadow: 0px 2px 10px white;
  color: blanchedalmond; 
}

.navbar {
  background: lightblue;
}

.home-main {
  color: white;
  text-shadow: 0 0 2px;
}

.mainImage-wrapper>img {
  border: 3px solid blanchedalmond;
  box-shadow: 0 0 10px 3px blanchedalmond;
  max-width: 80%;

}

.gif-wrapper {
  color: blanchedalmond;
  text-shadow: 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gifsList {
  display: grid;
  grid-template: 1fr / repeat(4, 100px);
  grid-gap: 50px;
  justify-content: center;
  list-style: none;
}

.gifsList img {
  height: 100px;
  width: 100px;
}

section {
  margin-top: 50px;

}

.featuresList {
  color: #CCC;
  display: grid;
  grid-template: repeat(2, 1fr)/ repeat(2, 460px);
  justify-content: center;
  grid-gap: 50px;
}

.feature {
  display: flex;
}

.featureTxt>h3 {
  color: blanchedalmond;
}

.left {
  text-align: right;
}

.left>.featureTxt {
  margin-right: 15px;
  color: blanchedalmond;
}

.right {
  text-align: left;
}

.right>.featureTxt {
  margin-left: 15px;
  color: blanchedalmond;
}

.feature>img {
  height: 150px;
  width: 150px;
  border: 3px solid blanchedalmond;
  box-shadow: 0 0 10px 3px blanchedalmond;
}

.exportToGifImg {
  background-color: rgba(255, 255, 255, 0.2);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.source-wrapper {
  width: 500px;
  margin-top: 15px;
}

.source-wrapper>a {
  display: flex;
  align-items: center;
  color: white;
  transition: 0.2s ease all;
}

.source-wrapper:hover>a {
  transition: 0.2s ease all;
  transform: scale(1.1);
}

.source-wrapper>a>h4 {
  margin-left: 10px;
  font-weight: 200;
  color: blanchedalmond;
}

.source-wrapper img {
  height: 50px;
  width: 50px;
}

.author,
.author>h2>a {
  color: blanchedalmond;
}


